<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abarrotes TI | Editar</title>
</head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">
            <h1>Abarrotes State | Eliminar</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="home">Inicio</a></li>
                    <li><a href="#" data-icon="eye" class="ui-btn-active">Productos</a></li>
                    <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
                          
            </div>
        </div>
        <div data-role="content">
            <form action="/api/products/<%= product.barcode %>" method="DELETE">
                <input type="text" name="barcode" placeholder="Codigo de barras" value="<%= manga.barcode %>">
                <input type="text" name="barcode" placeholder="Codigo de barras" value="<%= manga.barcode %>">
                <input type="text" name="name" placeholder="Nombre" value="<%= manga.name %>">
                <input type="number" name="vol" placeholder="Vol." value="<%= manga.vol %>">
                <input type="text" name="author" placeholder="Autor" value="<%= manga.author %>">
                <input type="text" name="editorial" placeholder="Editorial" value="<%= manga.editorial %>">
                <input type="text" name="description" placeholder="Descripcion" value="<%= manga.description %>">
                <input type="number" name="price" placeholder="Precio de compra" value="<%= manga.price %>">
                <input type="number" name="cost" placeholder="Precio de venta" value="<%= manga.cost %>">
                <input type="number" name="stock" placeholder="Existencias" value="<%= manga.stock %>">
                <label for="flip-2">Estado</label>
                <select name="status" id="flip-6" data-role="slider">
                         <option value="0" <%= product.status=0?"selected":"" %>>No</option>
                         <option value="1" <%= product.status=1?"selected":"" %>>Si</option>
                </select>
                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Eliminar</button>
            </form>
        </div>
    </div>
</body>
</html>